.note-block {
  margin-left: 2rem;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;

  &:hover > &-text {
    background: #f5f6fb;
    outline-color: #f5f6fb;
  }

  &:hover > &-icon {
    opacity: 0.5;
  }

  &.isDragging > &-icon {
    opacity: 0.5;
  }

  &.isDragging > &-text {
    background: #f5f6fb;
    outline-color: #f5f6fb;
  }

  &-text {
    padding: 0.25rem;
    flex: 1;

    // Better support for safari
    -webkit-user-select: text;
    user-select: text;

    &:focus {
      background: #f5f6fb;
      outline-color: #f5f6fb;

      & + span {
        opacity: 1;
      }
    }
  }

  &-text.title {
    position: relative;

    max-width: calc(100% - 3.6rem);
    margin-top: 2rem;
    margin-bottom: 2rem;

    &::before {
      content: 'H1';
      position: absolute;
      top: 50%;
      left: -2.5rem;
      transform: translateY(-50%);

      font-family: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      color: #777;
    }

    &:hover {
      background: #f5f6fb;
      outline-color: #f5f6fb;
    }
  }

  &-icon {
    opacity: 0;
    color: #777;
    padding: 1rem;
    margin-left: 1rem;

    width: 3.6rem;

    object-fit: cover;
  }
}
