.sidebar {
  flex-basis: 24rem;
  flex-shrink: 0;
  background-color: #333;

  &-menu {
    margin-top: 2rem;
  }

  &-brand {
    margin-top: 2rem;
    text-align: center;

    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    font-size: 1.8rem;
  }

  &-user {
    margin-top: 10rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;

    color: #999;
  }
}

@mixin menu-link {
  display: block;
  padding: 1rem 2rem;

  color: #999;
  font-size: 1.6rem;

  transition: color 200ms ease-in-out;

  & > svg {
    vertical-align: middle;
    margin-right: 1rem;
  }

  &.active {
    background-color: #555;
    color: #fff;
  }

  &:hover:not(.active) {
    color: #777;
  }
}

@mixin dropdown-item {
  @include menu-link();

  padding-left: 3.5rem;
}

.menu {
  &-link {
    @include menu-link;
  }
}

.dropdown {
  &-toggle {
    display: flex;
    align-items: center;

    & > svg:last-child {
      margin-left: auto;
      margin-right: 0;
      transition: transform 300ms ease-in-out;
    }

    &.show > svg:last-child {
      transform: rotate(90deg);
    }
  }

  &-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;

    &.show {
      max-height: 20rem;
    }
  }

  &-item {
    @include dropdown-item();
  }
}

.user {
  &-username {
    margin-right: 1rem;
    font-size: 1.6rem;
  }

  &-avatar {
    max-width: 4rem;
    margin-right: 1rem;
  }
}
