.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &-icon {
    font-size: 3rem !important;
    margin-right: 1rem;
  }

  &-text {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 1.5px;
    font-weight: 600;

    & > strong {
      font-weight: 600;
      color: #3f51b5;
    }
  }
}
