.my-team {
  max-width: 54rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin: 0 auto;

  font-weight: 400;
  font-size: 1.6rem;

  &-title {
    font-size: 5.5rem;
    text-transform: uppercase;
    color: #333;
    margin: 1.5rem 0;
  }

  &-description {
    margin-bottom: 1rem;
    color: #555;
  }

  &-latest {
    margin-bottom: 3.5rem;
    color: #555;

    & > span {
      color: #3f51b5;
      font-weight: 500;
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 1rem;
  }

  &-person {
    flex-basis: 50%;

    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &-contact {
    & > a {
      color: #3f51b5;
      font-weight: 500;
    }
  }
}

.person {
  &-avatar {
    max-width: 5.5rem;
    margin-right: 1.5rem;
  }

  &-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
  }

  &-position {
    color: #999;
  }
}

.line-text {
  position: relative;
  margin-bottom: 2rem;

  &::after {
    content: '';
    height: 2px;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    background-color: #d8d8d8;
  }

  & > span {
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;

    position: relative;
    z-index: 2;
    padding-right: 2rem;

    background-color: #fff;
  }
}

// .welcome-page {
//   overflow-y: hidden;
//   height: 100vh;
// }
